<!--The content below is only a placeholder and can be replaced.-->
  <!--<h1>
    Welcome to {{ title }}!
  </h1>
<input type="text" #newTodo />
<button (click)="addTodo(newTodo.value); newTodo.value='';">Add</button>
  <table>
    <tr>
    <th> labale </th>
    <th> priority </th>
    <th>Done</th>
    <th>action</th>
    </tr>
<tr *ngFor="let todo of todos"> 
  
    <td> {{todo.label}}</td >
      <td> {{todo.priority}}</td>
      <td>{{todo.done ? '&#10003;' : '&#10005;'}}</td>
      <td>
        <button (click)="deleteTodo(todo)">delete</button>
      </td>
</tr>




  </table>
  -->
<h1> My ToDO From DB</h1>
<input type="text" #newTodo />
<button (click)="addTodo(newTodo.value); newTodo.value='';">Add</button>
<br><br>
  <button (click)="getPosts()">My Todo from DB</button>
  <table>
    <tr>
      <th>#</th>
    <th> labale </th>
    <th> priority </th>
        <th>Done</th>
            <th>Delet</th>


    </tr>

<tr *ngFor="let post of posts | async"> 
  <td> {{ post.id }}</td>
  <td> {{post.title}}</td >
  <td> {{post.priority}}</td>
  <td>{{post.status ? '&#10005;' : '&#10003;'}}</td>
  <td>   <button (click)="deleteTodo(post.id)">Delete</button> </td>
</tr>
